<?xml version='1.0' encoding='utf-8' ?>
<plugin id="com-dnrps-ionic2nfc" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Ionic2NFC</name>
    <js-module name="Ionic2NFC" src="www/Ionic2NFC.js">
        <clobbers target="window.plugins.Ionic2NFC" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Ionic2NFC">
                <param name="android-package" value="com.dnrps.ionic2nfc.Ionic2NFC" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="libs/android/nxpnfcliblite.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/Ionic2NFC.java" target-dir="src/com-dnrps-ionic2nfc/Ionic2NFC" />
    </platform>
</plugin>